* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(201deg, rgba(148, 148, 148, 0.07) 0%, rgba(148, 148, 148, 0.07) 50%,rgba(83, 83, 83, 0.07) 50%, rgba(83, 83, 83, 0.07) 100%),linear-gradient(192deg, rgba(176, 176, 176, 0.08) 0%, rgba(176, 176, 176, 0.08) 50%,rgba(180, 180, 180, 0.08) 50%, rgba(180, 180, 180, 0.08) 100%),linear-gradient(48deg, rgba(185, 185, 185, 0.1) 0%, rgba(185, 185, 185, 0.1) 50%,rgba(243, 243, 243, 0.1) 50%, rgba(243, 243, 243, 0.1) 100%),linear-gradient(65deg, rgba(172, 172, 172, 0.09) 0%, rgba(172, 172, 172, 0.09) 50%,rgba(209, 209, 209, 0.09) 50%, rgba(209, 209, 209, 0.09) 100%),linear-gradient(4deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 50%,rgba(49, 49, 49, 0.03) 50%, rgba(49, 49, 49, 0.03) 100%),linear-gradient(228deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 50%,rgba(130, 130, 130, 0.03) 50%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(163deg, rgba(170, 170, 170, 0.08) 0%, rgba(170, 170, 170, 0.08) 50%,rgba(232, 232, 232, 0.08) 50%, rgba(232, 232, 232, 0.08) 100%),linear-gradient(152deg, rgba(12, 12, 12, 0.05) 0%, rgba(12, 12, 12, 0.05) 50%,rgba(161, 161, 161, 0.05) 50%, rgba(161, 161, 161, 0.05) 100%),linear-gradient(302deg, rgba(48, 48, 48, 0.1) 0%, rgba(48, 48, 48, 0.1) 50%,rgba(195, 195, 195, 0.1) 50%, rgba(195, 195, 195, 0.1) 100%),linear-gradient(90deg, rgb(144, 14, 253),rgb(74, 115, 255));
    .header {
        text-align: center;
        text-overflow: none;
        padding: 20px;

        .head {
            color: #111111;
            margin-bottom: 10px;
        }

        .sentence {
            color: rgba($color: #000000, $alpha: 0.4);

            span {
                padding: 5px;
                background: black;
                color: white;
            }
        }
    }
}

.task-container {
    // height: 600px;
    display: flex;
    flex-direction: row;
    width: 1080px;
    overflow: hidden;
    @media screen and (max-width: 600px){
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .task-inputs {
            margin-bottom: 20px;
        }
    }
    .task-inputs {
        width: 90%;
        margin-right: 20px;
        background: rgba($color: #fff, $alpha: 0.8);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.11);
        height: 200px;
        color: black;
        .task-input-container {
            color: black;
            margin-bottom: 25px;

            form {
                display: flex;
                width: 100%;
                flex-direction: column;

                .controller-input {
                    margin-bottom: 5px;
                    border-radius: 3px;
                    background: none;
                    border: 1px solid rgba($color: #000000, $alpha: 0.1);
                    height: 30px;
                    font-size: 14px;
                    color: #000000;
                    padding: 5px 10px;
                    transition: .2s all ease-in-out;
                    &:focus {
                        outline: none;
                        border: 1px solid black;
                    }
                }
                .controller-input.empty {
                    border: 1px solid red;
                }
                .controller-input.has-value {
                    border: 1px solid green;
                }
                textarea.controller-input {
                    height: 90px;
                }

                button[type="submit"] {
                    height: 40px;
                    border: none;
                    background: black;
                    color: white;
                    border-radius: 3px;
                    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.11);
                    font-size: 16px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .task-items {
        width: 100%;
        height: 500px;
        background: rgba($color: #fff, $alpha: 0.8);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.11);

        .task-item-container {
            color: black;
            overflow-y: scroll;
            overflow-x: none;
            height: 475px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .task-item {
                padding: 5px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                border-radius: 5px;
                box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.11);
                margin-bottom: 15px;
                width: 98%;
                position: relative;
                overflow: hidden;
                .close {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    top: 5px;
                    right: 5px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 25px;
                    color: white;
                    background: black;
                    opacity: 0;
                    display: inline-block;
                    transition: .3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    cursor: pointer;
                    transform: translateX(50px);
                    transform-origin: top;
                }
                &:hover .close {
                    opacity: 1;
                    transform: translateY(0px);
                }
                h3 {
                    margin-bottom: 5px;
                }

                p {
                    color: rgba($color: #000000, $alpha: 0.4);
                    padding: 10px;
                }
            }
        }
    }
}
.notification {
    padding: 25px;
    color: white;
    background: black;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.11);
    text-align: center;
    p {
        font-size: 16px;
    }
    &.error {
        background: red;
    }
    &.success {
        background: green;
    }
}